@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

html {
  background-color: black;
}

.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
  top: 130px !important;
}
.react-multiple-carousel__arrow--left {
  display: none;
}
